/* ==========================================================================
   1. Imports & Global Styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    margin: 0;
    padding: 0;
    background-color: #f9f9fb;
    color: #333;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --clr: #D9F4F9;
}

/* ==========================================================================
   2. Utility, Typography & General Element Styles
   ========================================================================== */

/* --- Utilities --- */
.hidden {
    display: none !important;
}

.justified-text {
    text-align: justify;
}

.page {
    width: 100%;
    box-sizing: border-box;
}

.container {
    padding: 15px;
}

.centered-gradient-page {
    height: 100vh;
    width: 52.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #E7FBFF, #B2E0E9, #99EEFF);
    box-sizing: border-box;
    text-align: center;
    color: #2c3e50;
}

#main-container {
    width: 100%;
    height: 100%;
}

/* --- Typography --- */

.header h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #2c3e50;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.box-title {
    font-size: 16px;
    font-weight: 600;
    color: #2BA6BF;
    margin-top: 0;
    margin-bottom: 10px;
}

.how-it-works-title,
.remember-title {
    font-size: 14px;
    text-align: justify;
    font-weight: 600;
    color: #2BA6BF;
    margin-top: 15px;
    margin-bottom: 5px;
}

blockquote {
    border-left: 3px solid #3498db;
    padding: 0px 10px 12px 15px;
    margin: 0 0 15px 0;
    font-style: italic;
    text-align: justify;
    font-size: 12px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    scroll-behavior: smooth;
}

.label {
    font-size: 12px;
    color: #7f8c8d;
    margin-bottom: 5px;
}

/* --- Scrollbars --- */
blockquote::-webkit-scrollbar {
    width: 6px;
}

blockquote::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 3px;
}

blockquote::-webkit-scrollbar-thumb {
    background-color: #72c1f5;
    border-radius: 3px;
}

blockquote::-webkit-scrollbar-thumb:hover {
    background-color: #74b4db;
}

.content-image-wrapper::-webkit-scrollbar {
    display: none;
}

/* --- Buttons --- */

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
    margin-left: -31px;
}

.back-icon-btn {
    position: relative;
    top: -5px;
    left: 0px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #091263;
}

.back-icon-btn:hover {
    background-color: rgba(9, 18, 99, 0.1);
    transform: scale(1);
}

.nav-button {
    background-color: #D4F8FF;
    color: #091263;
    border: none;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.nav-button:hover {
    background-color: #d7f2f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: background-color 0.2s ease;
}

/* --- Common App Header --- */

.app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-main-title {
    font-size: 32px;
    font-weight: 700;
    color: #091263;
    margin: 0;
    line-height: 1;
}

.header-subtitle {
    font-size: 12px;
    color: #3278AF;
    margin: 0;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.header-right-icons {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    gap: 8px;
    color: #2BA6BF;
}

.header-right-icons svg {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.header-right-icons svg:hover {
    color: #091263;
    transform: scale(1.1);
}

.header-logo {
    margin-top: -10;
    margin-left: 5px;
    width: 80px;
    height: auto;
    animation: fadeIn 0.5s;
}

/* ==========================================================================
   3. Animations & Keyframes
   ========================================================================== */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ==========================================================================
   4. LOADING PAGE
   ========================================================================== */

#loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #BEF4FF, #75C9DA, #49A5B8, #2BA6BF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 0.5s ease-out;
}

#loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

#logo {
    order: 1;
    width: 150px;
    height: auto;
    margin-bottom: -20px;
    animation: fadeIn 0.5s;
}

#logo-title {
    order: 2;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 0;
    font-weight: bold;
    animation: fadeIn 0.5s;
}

#logo-text {
    order: 3;
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: lighter;
    animation: fadeIn 0.5s;
}

/* ==========================================================================
   5. INTRODUCTION / INSTRUCTION PAGE (`#page-intro`)
   ========================================================================== */

#page-intro {
    text-align: center;
    color: #2c3e50;
    height: 100vh;
    width: 52.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #E7FBFF, #B2E0E9, #99EEFF);
    box-sizing: border-box;
}

#initial-message {
    text-align: center;
    color: #7f8c8d;
}

.intro-header-image {
    padding-bottom: -100px;
}

.intro-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: -25px;
}

.content-box {
    background-color: white;
    padding: 20px;
    /* border: 1px solid #000000; */
    border-radius: 15px;
    border: 1px solid #33A0B5;
    margin: 15px;
    text-align: center;
}

.content-box p {
    text-align: justify;
    font-size: 12px;
    line-height: 1.3;
}

.content-box h3 {
    text-align: justify;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: -5px;
}

.instructions-list {
    font-size: 10px;
    text-align: justify;
    line-height: 1;
    margin: 0 0 10px 15px;
    padding: 0;
    color: #666;
}

/* ==========================================================================
   6. SELECT CONTENT PAGE (`#page-select`)
   ========================================================================== */

#page-select {
    height: 100vh;
    width: 52.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #E7FBFF, #B2E0E9, #99EEFF);
    box-sizing: border-box;
    text-align: center;
    color: #2c3e50;
}

.navigation {
    position: relative;
    width: 325px;
    height: 35px;
    background: #33A0B5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    gap: 35px;
    margin-left: -40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 75px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #E7FBFF;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-15px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -45%;
    left: 40px;
    width: 25px;
    height: 25px;
    background: #33A0B5;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    border: 4px solid #E7FBFF;
}

.indicator::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -21px;
    width: 20px;
    height: 15px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -6px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -21px;
    width: 20px;
    height: 15px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -6px 0 0 var(--clr);
}

.select-content-box {
    background-color: white;
    padding: 20px;
    height: 410px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 15px;
    border: 1px solid #33A0B5;
    margin: 15px;
    text-align: center;
}

.select-content-box::-webkit-scrollbar {
    display: none;
}

.select-content-box p, ol {
    text-align: justify;
    font-size: 12px;
    line-height: 1.3;
}

.select-content-box h3 {
    text-align: justify;
    font-size: 12.5px;
    line-height: 1.2;
    margin-bottom: -5px;
}

/* ==========================================================================
   7. PREVIEW CONTENT PAGE (`#page-preview`)
   ========================================================================== */

#page-preview {
    height: 100vh;
    width: 52.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #E7FBFF, #B2E0E9, #99EEFF);
    box-sizing: border-box;
    text-align: center;
    color: #2c3e50;
}

.navigation-preview {
    position: relative;
    width: 325px;
    height: 35px;
    background: #33A0B5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation-preview ul {
    display: flex;
    gap: 35px;
    margin-left: -40px;
}

.navigation-preview ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 75px;
    z-index: 1;
}

.navigation-preview ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #E7FBFF;
}

.navigation-preview ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation-preview ul li.active a .icon {
    transform: translateY(-15px);
}

.navigation-preview ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation-preview ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator-preview {
    position: absolute;
    top: -45%;
    left: 145px;
    width: 25px;
    height: 25px;
    background: #33A0B5;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    border: 4px solid #E7FBFF;
}

.indicator-preview::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -21px;
    width: 20px;
    height: 15px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -6px 0 0 var(--clr);
}

.indicator-preview::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -21px;
    width: 20px;
    height: 15px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -6px 0 0 var(--clr);
}

.preview-content-box {
    background-color: white;
    padding: 20px;
    width: 280px;
    height: 410px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 15px;
    border: 1px solid #33A0B5;
    margin: 15px;
    text-align: center;
}

.preview-content-box::-webkit-scrollbar {
    display: none;
}

.preview-content-box p, ol {
    text-align: justify;
    font-size: 12px;
    line-height: 1.3;
    color: #2c3e50;
}

.preview-content-box h3 {
    text-align: justify;
    color: #2c3e50;
    font-size: 12.5px;
    line-height: 1.2;
    margin-bottom: -5px;
}

#content-display {
    height: 400px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

#content-display::-webkit-scrollbar {
    display: none;
}

.content-image-wrapper {
    max-height: 400px;
    overflow-y: auto;
    border-left: 3px solid #3498db;
    padding: 0px 10px 12px 15px;
    margin: 0 0 15px 0;
    background-color: #fff;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 5px; /* Added from another rule */
    display: flex; /* Added from another rule */
    justify-content: center; /* Added from another rule */
    align-items: center; /* Added from another rule */
}

.content-image-wrapper img {
    display: block;
    width: 250px;
    height: auto;
    object-fit: contain;
    max-height: 380px; /* Added from another rule */
    border-radius: 4px; /* Added from another rule */
}


/* --- Analyzing Button Styles --- */

#analyze-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#analyze-btn.is-analyzing {
    background-color: #8dd6e5;
    cursor: wait;
    pointer-events: none;
}

.spinner {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 3px solid rgba(9, 18, 99, 0.3);
    border-radius: 50%;
    border-top-color: #091263;
    animation: spin 1s ease-in-out infinite;
}

/* ==========================================================================
   8. RESULT CONTENT PAGE (`#page-result`)
   ========================================================================== */

#page-result {
    height: 100vh;
    width: 52.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #E7FBFF, #B2E0E9, #99EEFF);
    box-sizing: border-box;
    text-align: center;
    color: #2c3e50;
}

.navigation-result {
    position: relative;
    width: 325px;
    height: 35px;
    background: #33A0B5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation-result ul {
    display: flex;
    gap: 35px;
    margin-left: -40px;
}

.navigation-result ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 75px;
    z-index: 1;
}

.navigation-result ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #E7FBFF;
}

.navigation-result ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation-result ul li.active a .icon {
    transform: translateY(-15px);
}

.navigation-result ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation-result ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator-result {
    position: absolute;
    top: -45%;
    left: 251px;
    width: 25px;
    height: 25px;
    background: #33A0B5;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    border: 4px solid #E7FBFF;
}

.indicator-result::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -21px;
    width: 20px;
    height: 15px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -6px 0 0 var(--clr);
}

.indicator-result::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -21px;
    width: 20px;
    height: 15px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -6px 0 0 var(--clr);
}

.result-content-box {
    background-color: white;
    padding: 20px;
    width: 280px;
    height: 410px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 15px;
    border: 1px solid #33A0B5;
    margin: 15px;
    text-align: center;
}

.result-content-box::-webkit-scrollbar {
    display: none;
}

.result-content-box p, ol {
    text-align: justify;
    font-size: 12px;
    line-height: 1.3;
    color: #2c3e50;
}

.result-content-box h3 {
    text-align: justify;
    color: #2c3e50;
    font-size: 12.5px;
    line-height: 1.2;
    margin-bottom: -5px;
}

.status-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 5px 0;
}

.status-indicator i {
    margin-right: 8px;
    font-size: 1.2em;
}

.real-news {
    color: #27ae60;
}

.fake-news {
    color: #c0392b;
}

.neutral-news {
    color: #f39c12;
}

.result-summary {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 13px;
    color: #333;
}

.chart-container,
.keyword-chart-container {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 25px; /* Added from another rule */
}

.keyword-chart-container {
    height: 200px;
}


#result-content h4 {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.reliable {
    color: #27ae60;
}

.uncertain {
    color: #f39c12;
}

.misleading {
    color: #c0392b;
}

.result-spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

#try-again-btn {
    display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: 200px;
  background-color: #3a7da3cf;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  z-index: 10;
  bottom: -60px; /* places tooltip above the icon */
  left: -60px;
  transform: translateX(-50%);
  font-size: 10px;
  line-height: 1.4;
  transition: opacity 0.3s ease;
}


.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}